body {
    background-color: hsl(30, 38%, 92%);
}

@media only screen and (max-width: 800px) {
    .preview {
        width: 375px;
    }
}

.preview{
    display: flex;
    justify-content: center;
    width: 1440px;
}

img {
    border-radius: 2% 0% 0% 2%;
}

.text-class{
   padding: 50px;
   background-color: hsl(0, 0%, 100%);
   border-radius: 0% 2% 2% 0%;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: 50;
}

h2 {
    font-family: 'Fraunces', serif;
    inline-size: 160px;
    overflow-wrap: break-word;
}

p {
    font-family: "Montserrat", sans-serif;
    inline-size: 225px;
    overflow-wrap: break-word;
}

.price {
  display: flex;
  justify-content: center;
}
.current-price {
  color: hsl(158, 36%, 37%);
  margin-right: 10px;
  font-weight: 700;
  font-size: 32px;
}

.former-price {
  text-decoration: line-through;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(158, 36%, 37%);
  height: 34px;
  width: 150px;
  border-radius: 11px;
  border: none;
}
